$primary-color: #873474;
$color-white: #fff;


body {
    background-color: $primary-color;
    #popup {
        overflow: hidden;
        height: 100vh;
        .container{
            background-color: $color-white;
            border-radius: 5px;
            padding: 0rem 1.5rem 2rem 1.5rem ;
            text-align: center;
            width: 30%;
            position: absolute;
            left: 35%;
            right: 35%;
            top: 13rem;
            h2{
                color: $primary-color;
                margin-top: 0px;
            }
            #btn-quote{
                background-color: $primary-color;
                color: $color-white;
                border: 0px;
                padding: 10px;
                border-radius: 3px;
            }
            #quoteImg {
                width: 30%;
                height: auto;
            }
        }
    }
}
